html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    overflow-x:hidden;
}
.header{
    background-color: #2E0249;
    width: 100%;
    height:45%;
}

.links
{
    display:flex;
    color: whitesmoke;
    justify-content: right;
    height:auto;
}
.link{
    margin-left: auto;
}
.links .logo{
    margin-right:auto;
}
.links .link{
    color:#9B9999FF;
}
.text-flexbox{
    height: auto;
    width:25%;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 20%;
}
.text-flexbox .title {
    color: white;
    font-size: 48px;
    font-family: extra-bold;
    font-weight: bolder;
}
.text-flexbox .para{
    color:#9B9999FF;
    font-size: 18px;
    position:relative;
    top:-30px
}
.cafeu{

    height: 250px;
    width:500px;
    float:right;
    margin-right:15%;
    position:relative;
    top:-80%;
    color:white;

}
.sign-button{
    color:white;
    display: block;
    width: 50%;
    border: none;
    background-color: #F806CC;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    position:relative;
    top:-40px;
}
.information{
    position: relative;
    top:-30%;
    width:100%;
    display:flex;
    flex-direction: row;
    align-content: start;
    justify-content:center;
    font-size:36px;
    font-weight: bolder;
}
.photo-container{
    display: flex;
    justify-content: center;
    gap:75px;
    position:relative;
    top:-25%;
}
.photo-container .photo{
    height:200px;
    width:200px;
    border: 4px solid #A91079;
    border-radius:100%;
}
.cafelutsa{
    height: 100%;
    width: 100%;
    clip-path: circle();
}
.babi{
    height: 100%;
    width: 100%;
    clip-path: circle();
}
.pisu{
    height: 100%;
    width: 100%;
    clip-path: circle();
}
.loki{
    height: 100%;
    width: 100%;
    clip-path: circle();
}


